/* Da fare sempre (* comprende tutto il sito) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --yellow: #BEDA10;
    --bg: #070514;
    --text: #fff;
    --purple: #8279BB
  }


body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'apercu', 'Trebuchet MS', sans-serif;
     font-size: 100%; /*Da fare sempre*/
} 


.outline{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 1px solid var(--text);
    position: fixed;
    top: 0; left: 0;
    z-index: 9999999;
    mix-blend-mode: difference;
    transform: translate(-64px, -64px);
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
    pointer-events: none;
}

.cursor{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--text);
    position: fixed;
    top: 0; left: 0;
    z-index: 9999999;
    transform: translate(-8px, -8px);
    pointer-events: none;
    mix-blend-mode: difference;
}

.outline.hover{
background-color: rgba(255, 255, 255, 0.1);
border-color: rgba(0, 0, 0, 0);
backdrop-filter: blur(3px);
width: 108px;
height: 108px;
transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.cursor.hover{
    width: 10px;
    height: 10px;
}



h1, h2, h3 {
    margin-bottom: 58px;
}


h1 {
    font-size: 600%;
    font-weight: 600;
    line-height: 100%;
}


h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}



h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
}



a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s cubic-bezier(.215, .61, .35, 1); /* cubic-bezier è la velocità di cambiamento */
}


a:hover { 
    color: var(--yellow);
}

p {
    font-size: 22px;
    margin-bottom: 22px;
    margin-bottom: 5%;
    text-align: justify;
    text-align-last: left;
}


#idbtn, #idbtn1, #idbtn2{
    transition: font-size 1.5s cubic-bezier(.215, .61, .355, 1), 
                color 0.7s cubic-bezier(.215, .61, .355, 1),
                background-color 0.7s cubic-bezier(.215, .61, .355, 1),
                padding 0.7s cubic-bezier(.215, .61, .355, 1);
}

.button {
    opacity: 0;
    background-color: var(--purple);
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    border: none; /* viene sempre applicato un bordo in automatico */
    border-radius: 36px;
    transition: all 0.7s cubic-bezier(.215, .61, .35, 1);
    box-shadow: 0px 0px 13px 6px rgba(14, 0, 98, 0.45);
    -webkit-user-select: none;
    user-select: none;
}


.button:hover {
    background-color: var(--yellow);
    color: var(--bg);
    transform: scale(1.1); /* per far crescere il pulsante */
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span {
    font-size: 63%;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: var(--text);
    background-color: rgba(16,26,98,1);
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.input-textarea {
    height: 100px;
}

.container {
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding-top: 64px;
    padding-bottom: 54px;
}

.works {
    padding-top: 125px;
}


.hero {
    opacity: 0;
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 31%);
    height: 100vh;
}


.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-content a {
    padding-top: 50px;
}

.hero-cta {
    align-self: flex-end;
    opacity: 0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    padding-bottom: 0.5;
    left: 0;
    width: 100%;
    z-index: 999999;
    background: linear-gradient(180deg, rgba(7,5,20,1) 27%, rgba(8,4,30,0.865983893557423) 47%, rgba(8,3,39,0.5) 78%, rgba(9,2,49,0.15) 96%);
    backdrop-filter: blur(3px);
    
    -webkit-user-select: none;
    user-select: none;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo>img{
    width: 36px;
    height: auto;
    margin-right: 64px;
    margin-top: 7%;
    margin-bottom: 3%;
    cursor: pointer;
}


.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li {
    margin-right: 24px;
}

.menu ul li a {
    font-size: 24px;
}

.works-menu {
    position: sticky;
    top: -17px;
    margin-bottom: -3%;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .works-menu {
        position: relative;
        margin-bottom: -6%;
        z-index: 1;
    }
}

.works-menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .works-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.works-menu ul li {
    margin-right: 24px;
    margin-bottom: 6%;
}


.works-menu {}

.works-item {
    margin-bottom: 155px;
}


.works-item-tags {
    font-size: 24px;
    color: var(--yellow);
}


.work-info {
    display: flex;
    flex-wrap: wrap;
}

.work-info-label {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.work-info-content {
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}

.skills > p{
    font-size: 18px;
    font-weight: 100;
}

.skllilsLab{
     font-weight: 100;
}

.img{
    width: 62%;
    max-width: 100%;
    margin-bottom: 35px;
}

.piccolo {
    width: 36%;
    max-width: 100%;
    margin-bottom: 36px;
    margin-top: 15px;
    }

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-right {
    align-self: flex-end;
}

.image-left {
    align-self: flex-start;
}

.contacts {
    margin-bottom: 35px;
}

.contacts-content {
    display: flex;
    justify-content: space-between;
}

.contacts-about,
.contacts-form {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

.contacts-about > p {
    font-size: 20px;
}


.footer {
    background-image: linear-gradient(180deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 100%);
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
}

.containerFooter{
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.copyright {
    color: #757575;
   display: flex;
   width: 50%;
   padding: 12px 24px;
}

.containerPrivacy{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.privacy {
    color: #757575;
    border: solid 1px #757575;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1px 24px;
    border-radius: 36px;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
}


.privacy:hover{
    color: var(--text);
    border: solid 1px var(--text); 
}




.anchors {
    visibility: hidden;
    position: relative;
    top: -150px;
}

.back-to-top {
    -webkit-user-select: none;
    user-select: none;
    background-image: url('img/freccia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    background-color: var(--purple);
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

.text{
    padding-top: 80px;
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}


/* scoll bar */

::-webkit-scrollbar{
    width: 15px;}

::-webkit-scrollbar-track{
        background-color: var(--purple);
        border-radius: 100vw;
        margin-block: 0.5em;}

  ::-webkit-scrollbar-thumb{
            background-color: var(--yellow);
            border-radius: 100vw; 
            border: 2px solid var(--purple);}

     ::-webkit-scrollbar-thumb:hover{
            background-color: rgb(191, 218, 16, 0.7);}


            .splin{
             z-index: 0;
             height: 500px;
             display: flex;
             position: relative;
             margin-bottom: -500px;
             margin-left: -600px;
             overflow: hidden;
            }
            .splin2{
             z-index: 0;
             height: 500px;
             display: flex;
             position: relative;
             margin-bottom: -500px;
             margin-left: 600px;
             overflow: hidden;
            }


/* Observer ------------- */
.watch {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(4px);
}
.in-page {
    opacity: 1; transform: scale(1);
    z-index: 0;
}


html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }


  @media (min-width: 1025px) and (max-width: 1280px) {
    h1 {
        font-size: 78px;
        line-height: 86px;
    }

    h2 {
        font-size: 52px;
        line-height: 59px;
        margin-bottom: 52px;
    }
    h3 {
        font-size: 22px;
        line-height: 22px;
    }

    a {
        font-size: 28px;
        line-height: 19px;
    }

    p {
        font-size: 20px;
        line-height: 25px;
    }  

    .button {
    font-size: 14px;
    padding: 11px 22px;
    border-radius: 34px;
    }

    .works-menu {
        top: -10px;
        margin-bottom: -3%;
        z-index: 5;
    }

    .works-item {
        margin-bottom: 135px;
    }

    .works {
        padding-top: 105px;
    }

    .works-item-tags {
        font-size: 21px;
    }

  }


  
  @media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 62px;
        line-height: 66px;
    }

    h2 {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 46px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
    }

    a {
        font-size: 26px;
        line-height: 17px;
    }

    p {
        font-size: 18px;
        line-height: 23px;
    }  

    .work-info-label{
        margin-bottom: 10px;
    }

    .button {
        font-size: 13px;
        padding: 11px 22px;
        border-radius: 34px;
        }
    
    .works-menu {
        top: -10px;
        margin-bottom: -3%;
     }

     .works-item {
        margin-bottom: 115px;
    }

    .works {
        padding-top: 90px;
    }

    .img{
        width: 66%;
        margin-bottom: 30px;
    }
    
    .piccolo {
        width: 38%;
        margin-bottom: 30px;
        margin-top: 12px;
        }
    
        .works-item-tags {
            font-size: 18px;
        }


        .splin2{
            height: 500px;
            margin-bottom: -500px;
            margin-left: 500px;
           }
  }


  @media (min-width: 577px) and (max-width: 767px){
    h1 {
        font-size: 62px;
        line-height: 66px;
    }

    h2 {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 42px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
    }

    a {
        font-size: 26px;
        line-height: 17px;
    }

    p {
        font-size: 17px;
        line-height: 21px;
    }  

    .work-info-label{
        margin-bottom: 10px;
    }

    .button {
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 34px;
        }
    
    .works-menu {
        top: -10px;
        margin-bottom: -3%;
     }

     .menu {
        margin-left: 20px;
     }

     .menu ul li a {
        font-size: 20px;
    }

    .works-item {
        margin-bottom: 90px;
    }

    .works {
        padding-top: 80px;
    }

    .img{
        width: 75%;
        margin-bottom: 30px;
    }
    
    .piccolo {
        width: 44%;
        margin-bottom: 30px;
        margin-top: 12px;
        }
    
        .works-item-tags {
            font-size: 17px;
        }

}


  @media screen and (max-width:576px){
    h1 {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 36px;
    }
    h3 {
        font-size: 20px;
        line-height: 23px;
    }

    a {
        font-size: 16px;
        line-height: 19px;
    }

    .hero-cta {

    }

    p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 7%;
    }  

    .button {
        align-items: left;
        font-size: 80%;
        padding: 6px 14px;
    } 

    .input-label {
        font-size: 16px;
    }  

    .input-field,
    .input-textarea {
        font-size: 14px;
        padding: 10px 14px;
        border-radius: 15px;
    }

    .hero {
        height: 80vh;
        margin-bottom: -20%;
    }

    .works-menu ul li {
        margin-bottom: 6%;
    }

    .works-item {
        margin-bottom: 88px;
    }

    .works-item-tags {
        font-size: 15px;
    }

    .skills > p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 7%;
    }   

    .img {
        width: 95%;
    }   

    .piccolo {
        width: 50%;
    } 

    .contacts{
        margin-bottom: 20px;
    } 

    .work-info-label{
        margin-bottom: 7px;
    }

    .menu {
        margin-left: 15px;
     }

     .menu ul li a {
        font-size: 17px;
    }


    .logo {
        max-width: 12%;
        padding: 5px 0;
    }
    .logo img{
        max-width: 100%;
        display: inline-block;
        height: auto;
        margin-right: 24px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .works {
        padding-top: 70px;
    }
    
  }


  @media screen and (min-width:576px) {
    .back-to-top:hover {transform: scale(1.1);}
 }


 @media screen and (max-width:900px) {
    .disattivare{
        display: none;
    }
}

@media screen and (min-width:900px) {
    body{
        cursor: none;
    }
    button{
        cursor: none;
    }
    
    a{
        cursor: none;
    }
}


@media screen and (max-width:768px) {
    .logo {
        padding: 5px 0;
    }
    .logo img{
        width: 35px;
        height: auto;
        margin-right: 24px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .menu ul li {
        margin-right: 24px;
    }

    .contacts-content {
        flex-direction: column;
    }

    .contacts-about,
    .contacts-form {
        width: 100%;
    }
    .contacts-about > p {
        font-size: 17px;
        margin-bottom: 20%;
    }
    .contacts{
        margin-top: -10%;
    }

    .privacy{width: 100%;} .copyright{width: 100%;}

    .containerPrivacy{
        flex-direction: column;
    }

    .copyright {
       padding: 0px 0px;
    }

    .splin{
        overflow: hidden;
        margin: auto;
        height: 300px;
    }

    .splin2{
        overflow: hidden;
        margin: auto;
        height: 300px;
    }

}