/* Da fare sempre (* comprende tutto il sito) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #070514;
    color: #ffffff;
    font-family: 'apercu', 'Trebuchet MS', sans-serif;
     font-size: 100%; /*Da fare sempre*/
     cursor: none;
} 



.outline{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 1px solid #fff;
    position: fixed;
    top: 0; left: 0;
    z-index: 9999999;
    mix-blend-mode: difference;
    transform: translate(-64px, -64px);
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
    pointer-events: none;
}

.cursor{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    position: fixed;
    top: 0; left: 0;
    z-index: 9999999;
    transform: translate(-8px, -8px);
    pointer-events: none;
    mix-blend-mode: difference;
}

.outline.hover{
background-color: rgba(255, 255, 255, 0.1);
border-color: rgba(0, 0, 0, 0);
backdrop-filter: blur(3px);
width: 108px;
height: 108px;
transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.cursor.hover{
    width: 10px;
    height: 10px;
}

@media screen and (max-width:576px) {
    .disattivare{
        display: none;
    }
}




h1, h2, h3 {
    margin-bottom: 48px;
}


h1 {
    font-size: 500%;
    font-weight: 600;
    line-height: 100%;
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
}


h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}

@media screen and (max-width:576px) {
h2 {
    font-size: 32px;
    line-height: 37px;
}
}


h3 {
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
}

@media screen and (max-width:576px) {
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    }


a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s cubic-bezier(.215, .61, .35, 1); /* cubic-bezier è la velocità di cambiamento */
}

@media screen and (max-width:576px) {
    a {
        font-size: 16px;
        line-height: 19px;
    }
    }


a:hover { 
    color: #BEDA10;
    cursor: none;
}

p {
    font-size: 22px;
    margin-bottom: 22px;
}

@media screen and (max-width:576px) {
    p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 7%;
    }    }

#idbtn, #idbtn1, #idbtn2{
    transition: all 1.5s cubic-bezier(.215, .61, .355, 1);
}

.button {
    opacity: 0;
    cursor: none;
    background-color: #8279BB;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    border: none; /* viene sempre applicato un bordo in automatico */
    border-radius: 36px;
    transition: all 0.7s cubic-bezier(.215, .61, .35, 1);
    box-shadow: 0px 0px 13px 6px rgba(14, 0, 98, 0.45);
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width:576px) {
    .button {
        align-items: left;
        font-size: 80%;
        padding: 6px 14px;
    }    }


.button:hover {
    background-color: #BEDA10;
    color: #070514;
    transform: scale(1.1); /* per far crescere il pulsante */
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width:576px) {
    .input-label {
        font-size: 16px;
    }    }

.input-label span {
    font-size: 63%;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #757575;
    background-color: rgba(16,26,98,1);
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
    cursor: none;
}
@media screen and (max-width:576px) {
    .input-field,
    .input-textarea {
        font-size: 14px;
        padding: 10px 14px;
        border-radius: 15px;
    }
}



.input-textarea {
    height: 100px;
}

.container {
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding-top: 64px;
    padding-bottom: 54px;
}


.hero {
    opacity: 0;
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 31%);
    height: 100vh;
}

@media screen and (max-width:576px) {
    .hero {
        height: 80vh;
        margin-bottom: -20%;
    }
}


.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-cta {
    align-self: flex-end;
    opacity: 0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    padding-bottom: 0.5;
    left: 0;
    width: 100%;
    z-index: 999999;
    background: linear-gradient(180deg, rgba(7,5,20,1) 27%, rgba(8,4,30,0.865983893557423) 47%, rgba(8,3,39,0.5) 78%, rgba(9,2,49,0.15) 96%);
    backdrop-filter: blur(2px);
    
    -webkit-user-select: none;
    user-select: none;
}
@media screen and (max-width:576px) {
    .header {
        padding-top: 3%;
        padding-bottom: 2%;
    }
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo>img{
    width: 36px;
    height: auto;
    margin-right: 64px;
    margin-top: 7%;
    margin-bottom: 3%;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .logo img{
        width: 35px;
        height: auto;
        margin-right: 24px;
        margin-top: 5%;
        margin-bottom: 2%;
    }
}



.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li {
    margin-right: 24px;
}

.menu ul li a {
    font-size: 24px;
}

@media screen and (max-width:768px) {
    .menu ul li {
        margin-right: 24px;
    }
    
    .menu ul li a {
        font-size: 20px;
    }
}



.works-menu {
    position: sticky;
    top: -20px;
    margin-bottom: -3%;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .works-menu {
        position: relative;
        margin-bottom: -6%;
        z-index: 1;
    }
}

.works-menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .works-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.works-menu ul li {
    margin-right: 24px;
    margin-bottom: 6%;
}
@media screen and (max-width:576px) {
    .works-menu ul li {
        margin-bottom: 6%;
    }
}

.works-menu {}

.works-item {
    margin-bottom: 96px;
}

@media screen and (max-width:576px) {
    .works-item {
        margin-bottom: 48px;
    }
}


.works-item-tags {
    font-size: 24px;
    color: #BEDA10;

}

@media screen and (max-width:576px) {
    .works-item-tags {
        font-size: 20px;
    }
}


.work-info {
    display: flex;
    flex-wrap: wrap;
}

.work-info-label {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.work-info-content {
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}

.skills > p{
    font-size: 18px;
    font-weight: 100;
}
@media screen and (max-width:576px) {
    .skills > p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 7%;
    }    }

.skllilsLab{
     font-weight: 100;
}

.img{
    width: 65%;
    max-width: 100%;
    margin-bottom: 25px;
}

.piccolo {
    width: 40%;
    max-width: 100%;
    margin-bottom: 36px;
    }

@media screen and (max-width:576px) {
    .img {
        width: 95%;
    }    }

@media screen and (max-width:576px) {
        .piccolo {
            width: 50%;
        }    }

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-right {
    align-self: flex-end;
}

.image-left {
    align-self: flex-start;
}

.contacts { }

.contacts-content {
    display: flex;
    justify-content: space-between;
}

.contacts-about,
.contacts-form {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

.contacts-about > p {
    font-size: 20px;
}


@media screen and (max-width:768px) {
    .contacts-content {
        flex-direction: column;
    }

    .contacts-about,
    .contacts-form {
        width: 100%;
    }
    .contacts-about > p {
        font-size: 17px;
        margin-bottom: 20%;
    }
    .contacts{
        margin-top: -10%;
    }
}

.footer {
    background-image: linear-gradient(180deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 100%);
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

.containerFooter{
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.copyright {
    color: #757575;
   display: flex;
   width: 50%;
   padding: 12px 24px;
}
.privacy {
    color: #757575;
    border: solid 1px #757575;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 12px 24px;
    border-radius: 36px;
    width: 20%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width:768px) {
    .privacy{width: 100%;} .copyright{width: 100%;}
}



.privacy:hover{
    color: #ffffff;
    border: solid 1px #ffffff; 
}

.anchors {
    visibility: hidden;
    position: relative;
    top: -150px;
}

.back-to-top {
    -webkit-user-select: none;
    user-select: none;
    background-image: url('img/freccia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    background-color: #8279BB;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}


.text{
    padding-top: 80px;
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}


/* scoll bar */

::-webkit-scrollbar{
    width: 15px;}

::-webkit-scrollbar-track{
        background-color: #8279BB;
        border-radius: 100vw;
        margin-block: 0.5em;}

  ::-webkit-scrollbar-thumb{
            background-color: #BEDA10;
            border-radius: 100vw; 
            border: 2px solid #8279BB;}

     ::-webkit-scrollbar-thumb:hover{
            background-color: rgb(191, 218, 16, 0.7);}


            .spin{
             z-index: 0;
             height: 500px;
             display: flex;
             position: relative;
             margin-bottom: -500px;
             margin-left: -600px;
            }
            .spin2{
             z-index: 0;
             height: 500px;
             display: flex;
             position: relative;
             margin-bottom: -500px;
             margin-left: 600px;
            }
            @media screen and (max-width:768px) {
                .spin{
                 overflow: hidden;
                 margin: auto;
                 height: 300px;
                                }
                .spin2{
                overflow: hidden;
                margin: auto;
                height: 300px;
                                                }
                                                 }

/* Observer ------------- */
.watch {
    opacity: 0;
    transition: all 1.2s cubic-bezier(.215, .61, .355, 1);
    transform: scale(0.8);
}
.in-page {
    opacity: 1; transform: scale(1);
    z-index: 0;
}