  @font-face {
    font-family: 'apercu';
    src: url(./Fonts/Apercu\ Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'apercu';
    src: url(./Fonts/Apercu\ Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'apercu';
    src: url(./Fonts/Apercu\ Italic.woff2) format('woff2');
    font-style: italic;
    font-display: swap;
} */

@font-face {
    font-family: 'apercu';
    src: url(./Fonts/Apercu\ Light.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* FONT HERO */
/* @font-face {
    font-family: 'greatVibes';
    src: url('./Fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'PPEditorial';
    src: url('./Fonts/PPEditorialNew-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPModwest';
    src: url('./Fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* Da fare sempre (* comprende tutto il sito) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --yellow: #BEDA10;
    --bg: #070514;
    --text: #fff;
    --purple: #8279BB
  }


  .relative > * {
    position:relative; 
  }

  #idContainer::before {
    position: fixed !important;
  }  

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'apercu', 'Trebuchet MS', sans-serif;
     font-size: 100%; /*Da fare sempre*/
} 


.outline{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 1px solid var(--text);
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-64px, -64px);
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
    pointer-events: none;
}

.cursor{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--text);
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
    transform: translate(-8px, -8px);
    pointer-events: none;
    mix-blend-mode: difference;
}

.outline.hover{
background-color: rgba(255, 255, 255, 0.1);
border-color: rgba(0, 0, 0, 0);
-webkit-backdrop-filter: invert(80%);
backdrop-filter: invert(80%);
width: 108px;
height: 108px;
transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.cursor.hover{
    width: 10px;
    height: 10px;
}



h1, h2, h3 {
    margin-bottom: 58px;
}


h1 {
    font-size: 600%;
    font-weight: 600;
    line-height: 100%;
}


h2 {
    font-size: 62px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}



h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
}

h4 {
    font-size: 58px;
    line-height: 70px;
    padding-top: 0px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PPEditorial';
    letter-spacing: 0.25rem;
}

.vibes {
    font-size: 1.5em;
    font-family: 'PPModwest';
}

.mond {
    font-family: 'PPModwest';
    font-size: 1.3em;
}

a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s cubic-bezier(.215, .61, .35, 1); /* cubic-bezier è la velocità di cambiamento */
}


a:hover { 
    color: var(--yellow);
}

p {
    font-size: 20px;
    margin-bottom: 22px;
    margin-bottom: 5%;
    text-align: justify;
    text-align-last: left;
}


#idbtn, #idbtn1, #idbtn2{
    transition: font-size 1.5s cubic-bezier(.215, .61, .355, 1), 
                color 0.7s cubic-bezier(.215, .61, .355, 1),
                background-color 0.7s cubic-bezier(.215, .61, .355, 1),
                padding 0.7s cubic-bezier(.215, .61, .355, 1);
}

.button {
    opacity: 0;
    background-color: var(--purple);
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    border: none; /* viene sempre applicato un bordo in automatico */
    border-radius: 36px;
    transition: all 0.7s cubic-bezier(.215, .61, .35, 1);
    box-shadow: 0px 0px 13px 6px rgba(14, 0, 98, 0.45);
    -webkit-user-select: none;
    user-select: none;
}


.button:hover {
    background-color: var(--yellow);
    color: var(--bg);
    transform: scale(1.1); /* per far crescere il pulsante */
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span {
    font-size: 63%;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: var(--text);
    background-color: rgba(16,26,98,1);
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.input-textarea {
    height: 100px;
}

.container {
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding-top: 64px;
    padding-bottom: 54px;
}

.works {
    padding-top: 125px;
}


.hero {
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 31%);
    height: 100vh;
    position: relative;
}


.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cta {
    margin-bottom: -25vh;

    font-size: 70px;
    align-self: flex-end;
    opacity: 0;
    color: var(--yellow);
    padding-bottom: 0px;
    animation: moveArrow 1.5s ease-in-out infinite;
}

@keyframes moveArrow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px); /* Spostamento verso l'alto */
    }
    100% {
      transform: translateY(0); /* Torna alla posizione originale */
    }
  }

/* Header */
.header {
    position: fixed;
    top: 0;
    padding-bottom: 0.5;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(180deg, rgba(7,5,20,1) 27%, rgba(8,4,30,0.865983893557423) 47%, rgba(8,3,39,0.5) 78%, rgba(9,2,49,0.15) 96%);
    backdrop-filter: blur(3px);
    
    -webkit-user-select: none;
    user-select: none;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo>img{
    width: 36px;
    height: auto;
    margin-right: 64px;
    margin-top: 7%;
    margin-bottom: 3%;
}


.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li {
    margin-right: 24px;
}

.menu ul li a {
    font-size: 24px;
    line-height: 1;
}


.works-menu {
    /* position: sticky !important; */
/*     top: 17px; */
    /* margin-bottom: -3%; */
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .works-menu {
        position: relative;
        margin-bottom: -6%;
        z-index: 1;
    }
}

.works-menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .works-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.works-menu ul li {
    margin-right: 24px;
    
}

.works-item:nth-child(1){
    margin-top: 6%;
}

.works-item {
    margin-bottom: 155px;
}


.works-item-tags {
    font-size: 24px;
    color: var(--yellow);
}


.work-info {
    display: flex;
    flex-wrap: wrap;
}

.work-info-label {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.work-info-content {
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}

.skills > p{
    font-size: 18px;
    font-weight: 100;
}

.skllilsLab{
     font-weight: 100;
}

.img{
    width: 62%;
    max-width: 100%;
    margin-bottom: 35px;
}

.piccolo {
    width: 36%;
    max-width: 100%;
    margin-bottom: 36px;
    margin-top: 15px;
    }

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-right {
    align-self: flex-end;
}

.image-left {
    align-self: flex-start;
}

.contacts {
    margin-bottom: 100px;
/*     position: relative; */
}

.contacts-content {
    display: flex;
    justify-content: space-between;
}

.contacts-about,
.contacts-form {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

.contacts-about > p {
    font-size: 20px;
}


.footer {
    background-image: linear-gradient(180deg, rgba(7,5,20,1) 0%, rgba(16,26,98,1) 100%);
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    position: static !important;
}

.containerFooter{
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.copyright {
    color: #757575;
   display: flex;
   width: 50%;
   padding: 12px 24px;
}

.containerPrivacy{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.privacy {
    color: #757575;
    border: solid 1px #757575;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1px 24px;
    border-radius: 36px;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
}


.privacy:hover{
    color: var(--text);
    border: solid 1px var(--text); 
}




.anchors {
    visibility: hidden;
    position: relative;
    top: -150px;
}

.back-to-top {
    -webkit-user-select: none;
    user-select: none;
    background-image: url('img/freccia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    background-color: var(--purple);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

.text{
    padding-top: 80px;
    width: 80%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}

.random-letters {
    display: inline-block;
}


/* scoll bar */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
        background-color: var(--purple);
        border-radius: 100vw;
        margin-block: 0.5em;
        cursor: auto !important;
    }

  ::-webkit-scrollbar-thumb{
            background-color: var(--yellow);
            border-radius: 100vw; 
            border: 2px solid var(--purple);
            cursor: auto !important;
        }

     ::-webkit-scrollbar-thumb:hover{
            background-color: rgb(191, 218, 16, 0.7);
        }


/* 3D ------------- */
            .splin, .splin2{
             height: 400px;
             width: 267px;
             position: absolute;
             overflow: hidden;
            }

            .splin2{ left: 65%; }
            .splin{ right: 65%; }

            .splin2 model-viewer, .splin model-viewer{
                width: 100%;
                height: 100%;
            }

            .container3D {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .splin2 #lazy-load-poster{
                background-image: url("./img/lartedannodareImg.webp");
            }

            .splin #lazy-load-poster{
                background-image: url("./img/bernardoImg.webp");
            }

            #lazy-load-poster {
                position: absolute;
                left: 0;
                right: 0;
                top: 18%;
                bottom: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                height: 250px;
                width: auto;
                z-index: 1;
              }

              #button-load, #button-load2{
                background-image: url("./img/loadArrow.svg");
                background-repeat: no-repeat;
                background-size: 24px 24px;
                background-position: 6% 50%;
                background-color: var(--purple);
                color: var(--text);
                border-radius: 6px;
                display: inline-block;
                padding: 10px 18px 9px 40px;
                font-weight: 600;
                box-shadow: 0 0 8px rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,.25);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                z-index: 2;
                transition: all 0.7s cubic-bezier(.215, .61, .35, 1);
                font-family: 'apercu', 'Trebuchet MS', sans-serif;
              }
            
              #button-load:hover, #button-load2:hover{
                background-color: var(--yellow);
                color: var(--bg);
                background-image: url("./img/loadArrowHover.svg");
              }

              

/* Observer ------------- */
.watch {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
}
.in-page {
    opacity: 1; transform: scale(1);
    z-index: 0;
}


html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }


/* RETTANGOLI */
.splitting .cell-grid {
    background: none !important;
}

.splitting.cells {
    visibility:visible !important;
}

.linkText {
    position: relative;
    overflow-y: hidden;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
}

.shadow span {
    transform-origin: bottom left;
}

.textLink span {
    transform-origin: top left;
}


  @media (min-width: 1025px) and (max-width: 1280px) {
    h1 {
        font-size: 78px;
        line-height: 86px;
    }

    h2 {
        font-size: 52px;
        line-height: 59px;
        margin-bottom: 52px;
    }
    h3 {
        font-size: 22px;
        line-height: 22px;
    }

    h4 {
        font-size: 42px;
        line-height: 54px;
        letter-spacing: 0.22rem;
    }

    a {
        font-size: 28px;
        line-height: 19px;
    }

    p {
        font-size: 18px;
        line-height: 24px;
    }  

    .hero-content {
        justify-content: center;
    }

    .hero-cta {
        font-size: 60px;
        padding-bottom: 0px;
        margin-bottom: -20vh;
        padding-top: 10px;
    }

    .button {
    font-size: 14px;
    padding: 11px 22px;
    border-radius: 34px;
    }

    .works-menu {
        top: -10px;
        margin-bottom: -3%;
        z-index: 5;
    }

    .works-item {
        margin-bottom: 135px;
    }

    .works {
        padding-top: 105px;
    }

    .works-item-tags {
        font-size: 21px;
    }

    .contacts {
        margin-bottom: 80px;
    }

    .splin, .splin2{
        height: 280px;
        width: 200px;
       }
       
       #lazy-load-poster {
        height: 210px;
        top: 24%;
      }

      #button-load, #button-load2{
        background-size: 22px 22px;
        border-radius: 6px;
        padding: 9px 15px 8px 36px;
      }

  }


  
  @media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 62px;
        line-height: 66px;
    }

    h2 {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 46px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
    }

    h4 {
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.18rem;
    }

    .hero-content {
        justify-content: center;
    }

    .hero-cta {
        font-size: 52px;
        padding-bottom: 0px;
        margin-bottom: -16vh;
        padding-top: 20px;
    }

    a {
        font-size: 26px;
        line-height: 17px;
    }

    p {
        font-size: 17px;
        line-height: 22px;
    }  

    .work-info-label{
        margin-bottom: 10px;
    }

    .button {
        font-size: 13px;
        padding: 11px 22px;
        border-radius: 34px;
        }
    
    .works-menu {
        top: -10px;
        margin-bottom: -3%;
     }

     .works-item {
        margin-bottom: 115px;
    }

    .works {
        padding-top: 90px;
    }

    .img{
        width: 66%;
        margin-bottom: 30px;
    }
    
    .piccolo {
        width: 38%;
        margin-bottom: 30px;
        margin-top: 12px;
        }
    
        .works-item-tags {
            font-size: 18px;
        }

           .splin, .splin2{
            height: 280px;
            width: 180px;
           }
    
    .contacts {
        margin-bottom: 70px;
     }

     #lazy-load-poster {
        height: 180px;
        top: 19%;
      }

      #button-load, #button-load2{
        background-size: 22px 22px;
        border-radius: 6px;
        padding: 8px 14px 7px 34px;
      }

  }


  @media (min-width: 577px) and (max-width: 767px){
    h1 {
        font-size: 62px;
        line-height: 66px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 42px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
    }

    h4 {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.16rem;
    }

    .hero-content {
        justify-content: center;
    }

    .hero-cta {
        font-size: 46px;
        padding-bottom: 0px;
        margin-bottom: -14vh;
        padding-top: 20px;
    }

    a {
        font-size: 26px;
        line-height: 17px;
    }

    p {
        font-size: 16px;
        line-height: 19px;
    }  

    .work-info-label{
        margin-bottom: 10px;
    }

    .button {
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 34px;
        }
    
    .works-menu {
        top: -10px;
        margin-bottom: -3%;
     }

     .menu {
        margin-left: 20px;
     }

     .menu ul li a {
        font-size: 20px;
    }

    .works-item {
        margin-bottom: 90px;
    }

    .works {
        padding-top: 80px;
    }

    .img{
        width: 75%;
        margin-bottom: 30px;
    }
    
    .piccolo {
        width: 44%;
        margin-bottom: 30px;
        margin-top: 12px;
        }
    
        .works-item-tags {
            font-size: 17px;
        }

        .contacts {
            margin-bottom: 70px;
         }

         .works-menu ul li {
            margin-bottom: 6%;
        }

        .works-item:nth-child(1){
            margin-top: 0%;
            }
            
            .splin, .splin2{
                height: 280px;
                width: 200px;
                position: static;
               }
        
               .splin2{order: -1  }

       #lazy-load-poster {
        height: 200px;
        top: 12%;
      }

      #button-load, #button-load2{
        background-size: 22px 22px;
        border-radius: 6px;
        padding: 9px 15px 8px 36px;
      }
}


  @media screen and (max-width:576px){
    h1 {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 36px;
    }
    h3 {
        font-size: 16px;
        line-height: 17px;
    }

    h4 {
        font-size: 5.8vw;
        line-height: 9.6vw;
        letter-spacing: 0.14rem;
    }

    a {
        font-size: 16px;
        line-height: 19px;
    }

    p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 7%;
    }  

    .hero-content {
        justify-content: center;
    }

    .hero-cta {
        font-size: 10.5vw;
        padding-bottom: 0px;
        margin-bottom: -18vh;
        padding-top: 1.3%;
    }
    
    .button {
        align-items: left;
        font-size: 70%;
        padding: 4px 14px;
    } 


    .contacts-content .button {
        font-size: 90%;
        padding: 6px 14px;
    } 

    .input-label {
        font-size: 16px;
    }  

    .input-field,
    .input-textarea {
        font-size: 14px;
        padding: 10px 14px;
        border-radius: 15px;
    }

    .works-menu ul li {
        margin-bottom: 1.8vh;
    }

    .works-item:nth-child(1){
        margin-top: 0%;
        }

    .works-item {
        margin-bottom: 88px;
    }

    .works-item-tags {
        font-size: 15px;
    }

    .skills > p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 7%;
    }   

    .img {
        width: 95%;
    }   

    .piccolo {
        width: 50%;
    } 

    .contacts{
        margin-bottom: 20px;
    } 

    .work-info-label{
        margin-bottom: 7px;
    }

    .menu {
        margin-left: 15px;
     }

     .menu ul li a {
        font-size: 17px;
    }


    .logo {
        max-width: 12%;
        padding: 5px 0;
    }
    .logo img{
        max-width: 100%;
        display: inline-block;
        height: auto;
        margin-right: 24px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .works {
        padding-top: 70px;
    }

    .contacts {
        margin-bottom: 60px;
     }

    .splin, .splin2{
        height: 280px;
        width: 50%;
        min-width: 180px;
        position: static;
       }

       .splin2{order: -1  }


       #lazy-load-poster {
        height: 38vw;
        min-height: 180px;
        top: 15%;
      }

      #button-load, #button-load2{
        background-size: 20px 20px;
        border-radius: 6px;
        padding: 7px 12px 6.5px 34px;
      }
    
  }


  @media screen and (min-width:576px) {
    .back-to-top:hover {transform: scale(1.1);}
 }


 @media screen and (max-width:1025px) {
    .disattivare{
        display: none;
    }
}

@media screen and (min-width:1025px) {
    body{
        cursor: none;
    }
    button{
        cursor: none;
    }
    
    a{
        cursor: none;
    }
}


@media screen and (max-width:768px) {
    .logo {
        padding: 5px 0;
    }
    .logo img{
        width: 35px;
        height: auto;
        margin-right: 24px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .menu ul li {
        margin-right: 24px;
    }

    .contacts-content {
        flex-direction: column;
    }

    .contacts-about,
    .contacts-form {
        width: 100%;
    }
    .contacts-about > p {
        font-size: 17px;
        margin-bottom: 20%;
    }
    .contacts{
        margin-top: -10%;
    }

    .privacy{width: 100%;} .copyright{width: 100%;}

    .containerPrivacy{
        flex-direction: column;
    }

    .copyright {
       padding: 0px 0px;
    }

}